.screen-pic {
  background-color: #373737;
}
.main-text {
  width: 40%;
  /* margin: auto; */
}
.main-text .main-text__title {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #ffffff;
}
.main-text .main-text__descr {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.main-text .main-text__button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 1rem 2.5rem;
  outline: none;
}
.main-text .main-text__button:hover {
  border: 1px solid white;
  background-color: rgba(56, 79, 88, 0.5);
  color: white;
  outline: none;
}
