.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  font-size: 40px;
  line-height: 40px;
  color: #000f08;
  align-items: center;
}
a {
  /* font-size: 10px;
  line-height: 10px; */
  color: #000f08;
  margin-top: 10px;
}
.header_left {
  width: 30%;
  margin-top: 5px;
}
.header_left a {
  margin-right: 10px;
}
.header_right {
  width: 30%;
  margin-top: 5px;
}
.header_right a {
  margin-left: 10px;
}
.header_right__search {
  border: none;
  width: 30%;
  outline: none;
}
.header_right__search:focus {
  border-bottom: #d8d8d8 1px solid;
}
