.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
}
.logo {
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 2.9rem;
  color: #000f08;
  align-items: center;
}
.logo:hover {
  text-decoration: none;
  color: #8c8c8c;
}

.header_right {
  width: 30%;
  margin-top: 5px;
}
.header_right {
  margin-left: 10px;
}
.header_right__search {
  border: none;
  width: 30%;
  outline: none;
  transition: 0.2s;
}
.header_right__search:focus {
  border-bottom: #d8d8d8 1px solid;
}
.header_link {
  text-decoration: none;
  margin-right: 3rem;
  color: #000f08;
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 0.8rem;
  transition: 0.2s;
}
.header_link:hover {
  color: #8c8c8c;
  text-decoration: none;
}
